<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <title>ReadIt</title>
  </head>
  <body class="container">
    <nav class="navbar">
      <div id="logoNavItems">
        <h1 id="siteName"><a href="/">ReadIt</a></h1>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"> Genres </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="/genre/Fiction"> Fiction </a>
            <hr class="navbar-divider" />
            <a class="navbar-item" href="/genre/Non-Fiction"> Non-Fiction </a>
            <hr class="navbar-divider" />
            <a class="navbar-item" href="/genre/Horror"> Horror </a>
            <hr class="navbar-divider" />
            <a class="navbar-item" href="/genre/Psychological-Thriller">
              Psychological-Thriller
            </a>
            <hr class="navbar-divider" />
            <a class="navbar-item" href="/genre/Fantasy"> Fantasy </a>
            <hr class="navbar-divider" />
            <a class="navbar-item" href="/genre/Dystopian"> Dystopian </a>
            <hr class="navbar-divider" />
            <a class="navbar-item" href="/genre/Philosophy"> Philosophy </a>
          </div>
        </div>
        <a class="navbar-item" href="/join-club"> Join Club </a>
        <% if (user) { %>
        <a class="navbar-item" href="/favorites">Favorites</a>
        <% } %>
      </div>

      <div class="userDiv">
        <% if (user) { %>
        <span class="navbar-item"
          ><strong>Welcome <%= user.username %></strong></span
        >
        <a class="navbar-item" href="/logout">Log Out</a>
        <form id="search" action="/search" method="GET">
          <div class="field">
            <p class="control has-icons-left">
              <input
                name="search"
                type="text"
                class="input is-small is-normal is-rounded"
                placeholder="Search title or author" 
                />
                <span class="icon is-small is-left has-text-success">
                  <i class="fas fa-search"></i>
                </span>
            </p>
          </div>
        </form>
        <% } else { %>
          <a class="navbar-item" href="/login">Login</a>
          <a class="navbar-item" href="/signup">Sign Up</a>
        <% } %>
      </div>
    </nav>

</html>
