<%- include('partials/header'); -%>

<div>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  <form id="search">
    <input class="input is-medium is-focused is-rounded" placeholder="Search title or author">
    <button type="submit" id="searchBtn" class="button is-link is-rounded">Find It!</button>
</form>

</div>

<%- include('partials/footer'); -%>