<%- include('partials/header'); -%>

<form action="/join-club" method="post" onsubmit="joinedMessage()">
    <h2>Join Our Book Club!</h2>
    <label for="dUsername">Discord Username</label>
    <input type="text" name="dUsername" required>
    <div id="dUser"></div>
    <label for="dID">Discord ID</label>
    <input type="text" name="discordID" required />
    <div id="dID"></div>
    <label>Book Suggestions</label>
    <textarea name="bkSuggestions" type="text" class="textarea is-medium is-focused" placeholder="Give us any book suggestions here (optional)" rows="10"></textarea>
    <div id="bkSuggs"></div>
    <button type="submit" id="joinSubmit" class="button is-link is-rounded">Join</button>
</form>

<script>
  function joinedMessage() {
    alert("Thanks for joining! You'll be added to our ReadIt discord server.");
  }
</script>


<%- include('partials/footer'); -%>