body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  #logoNavItems {
    display: flex;
    flex-direction: column;
  }

  #siteName {
    margin-bottom: 20px;
  }

  .userDiv {
    display: flex;
    flex-direction: column;
  }

  .mainDiv {
    padding: 20px;
  }

  .featuresDiv {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  #bkc {
    margin-bottom: 30px;
  }

  .book-content {
    display: flex;
    flex-direction: column;
  }


  .singleCard {
    padding: 20px
  }

  .addRevContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #reviewInput {
    width: 325px;
  }

  #reviewTitle {
    text-align: center;
  
  }

  .title {
    padding-left: 20px;
  }

}


@media screen and (min-width: 769px) {
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #logoNavItems {
    display: flex;
    flex-direction: row;
  }
  
  .userDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .featuresDiv {
    display: flex;
    flex-direction: row;
    margin: 50px 0px 20px 0px;
  }
  

.page-title > div {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

  #genrediv {
    width: 300px;
  }

  #bkc {
    margin-right: 40px;
    width: 1000px;
  }

  .book-content {
    display: flex;
  }

  .addRevContainer {
    display: flex;
    flex-direction: row;
  }

  .addRevBtn {
    margin-left: 60px;
  }

   #reviewForm {
    width: 1019px;
  }

  #bookInfo {
    margin-right: 60px;
  }

  #reviewObjContainer {
    padding: 20px;
  }

  #loginform {
    padding-top: 100px;
    padding-bottom: 125px;
  }

  #no-favorites {
    margin-bottom: 200px; 
    margin-top: 200px
  }
}


.reviewDeleteContainer {
  padding: 20px;
}

#siteName {
  font-family: "Rockwell";
  font-size: 40px;
  font-weight: bold;
  margin-right: 50px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px 0px 50px 0px;
}


#search {
  display: flex;
  align-items: center;
  justify-content: center;
}

#searchBtn {
  margin: 10px;
}


#bks {
  margin: 20px 0px 20px 0px;
  text-decoration: underline;
  font-weight: bold;
}

.card-header {
  display: flex;
  flex-direction: column;
  padding: 10px;
  inline-size: 325px;
}

.bookcards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
 margin-left: 55px;
}

.bookActions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#addrevsubmit {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 60px;
}

#submitRevBtn {
  margin-right: 10px;
}

#deleteRevBtn {
  margin-right: 5px;
}

.editRevContainer {
  padding: 20px;
}

#editRevLabel {
  margin-bottom: 15px;
}

#reviewsLabel {
  padding: 20px 20px 0px 20px;
}

.book-content > div {
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

#index-head {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}


#genrechildr {
  display: flex;
  flex-flow: column;
  align-items: center;
  
}

#genrechildr > li {
  padding-bottom: 20px;
}


footer {
  text-align: center;
  margin: 40px 0px 50px 0px;
}

.suliform {
  width: 50%;
}

.suli {
  display: flex;
  align-items: center;
  justify-content: center;
}
